.about {
  position: relative;
  overflow: hidden;

  &-img {
    position: absolute;
    top: 0;
    left: calc(((100%/12) + 15px));
    z-index: -1;
    height: 100%;
    width: auto;

    @media screen and (max-width: $mobileWidth) {
      top: -15px;
      left: -25%;
      height: auto;
      width: 150%;
      max-width: initial;
    }

  }

  .section-content-title {
    margin-top: 27px;
    margin-bottom: 78px;

    @media screen and (max-width: $desctopWidth) {
      margin-top: 31px;
      margin-bottom: 73px;
    }

    @media screen and (max-width: $mobileWidth) {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  .section-content-text {
    margin-bottom: 50px;

    @media screen and (max-width: $mobileWidth) {
      margin-bottom: 0;
    }
  }

}