
.clients {
  position: relative;
  background-color: $darkGrayColor;

  .clients-section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition-timing-function: ease;
  }

  .section-content-title {
    color: $lightenColor;
  }

  .section-more {
    padding-top: 100px;
  }
}


.client-item {
  position: relative;
  margin-bottom: 240px;
  @extend %pull-left-5;
  @extend %pull-right-1;

  @media screen and (max-width: $desctopWidth) {
    margin-bottom: 150px;
  }

  @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
    padding-left: calc(((100%/8) * 2) + 20px);
    padding-right: 20px !important;
  }

  @media screen and (max-width: $mobileWidth) {
    margin-bottom: 120px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:nth-child(2n) {
    @extend %pull-left-3;
    @extend %pull-right-3;

    @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
      padding-left: calc(((100%/8) * 1) + 20px);
      padding-right: calc(((100%/8) * 1) + 20px);
    }

  }

  &:nth-child(1) {
    .client-item__letter {
      top: 50px;
      left: calc(((100%/12) * 4) + 15px);

      @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
        left: calc(((100%/8) * 1) + 20px);
      }

      @media screen and (max-width: $mobileWidth) {
        left: 0;
      }
    }
  }

  &:nth-child(2) {
    .client-item__letter {
      top: 50px;
      right: calc(((100%/12) * 2) + 15px);

      @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
        right: 0;
      }

      @media screen and (max-width: $mobileWidth) {
        right: 20px;
      }
    }
  }

  &:nth-child(3) {
    .client-item__letter {
      top: -50px;
      left: calc(((100%/12) * 3) + 15px);

      @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
        left: calc(((100%/8) * 1) + 20px);
      }

    }
  }

  &:nth-child(4) {
    .client-item__letter {
      top: 50px;
      right: calc(((100%/12) * 2) + 15px);

      @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
        right: 20px;
      }

      @media screen and (max-width: $mobileWidth) {
        right: 20px;
      }
    }
  }

  &__number {
    position: absolute;
    top: 20px;
    left: calc(16.666% + 15px);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;

    @media screen and (max-width: $desctopWidth) {
      font-size: 12px;
      line-height: 15px;
    }

    @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
      left: 20px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.3px;
    }

    @media screen and (max-width: $mobileWidth) {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 13px;
      font-size: 11px;
      line-height: 14px;
      letter-spacing: 0.6px;
    }
  }

  &__letter {
    position: absolute;
    z-index: 1;
    width: 290px;

    @media screen and (max-width: $desctopWidth) {
      width: 230px;
    }
    @media screen and (max-width: $mobileWidth) {
      width: 140px;
    }

    img {
      display: block;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 65px;
    z-index: 2;

    @media screen and (max-width: $desctopWidth) {
      margin-bottom: 45px;
    }

    @media screen and (max-width: $mobileWidth) {
      margin-bottom: 25px;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 30px;
    z-index: 2;

    @media screen and (max-width: $mobileWidth) {
      margin-bottom: 20px;
    }
  }
}