//project colors
$darken-color: #20222B;
$lighten-color: #fff;
$gray: #F3F2F2;
$darkGray: #E6E5E2;
$primaryColor: #CA8662;

$darkMenuItem: #151F2B;
$inputActive: #131F2C;
$inputBtnActive: #A32024;
$lineBg: #33435B;
$copyRight: #4B535F;
$colorSubtitleHZ: #AEB9C9;
//bages
$colorBadgeBg1: #EBEEF4;
$colorBadgeBg2: #DFE9F8;
$colorBadgeBg3: #FFF4EA;
//bagestext
$colorBadge1: #5A6473;
$colorBadge2: #6B8EC2;
$colorBadge3: #EFA56A;
$btnBg: #DF2022;
