
@import "responsive";
@import 'colors';
@import 'typography';
@import 'animations';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: $lightenColor;
}

.main-block {
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1800px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: $desctopWidth) {
    max-width: 1350px;
    padding: 0 15px;
  }
  @media screen and (max-width: $tabletWidth) {
    padding: 0 20px;
  }
  @media screen and (max-width: $mobileWidth) {
    padding: 0 20px;
  }
}

.section-wrap {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  padding: 170px 0 75px;

  @media screen and (max-width: $desctopWidth) {
    padding: 140px 0 60px;
  }

  @media screen and (max-width: $mobileWidth) {
    padding: 105px 0 60px;
  }
}

.section-more {
  padding-bottom: 100px;
}

.section-content {

  &-title {
    @extend %pull-left-2;
    @extend %pull-right-1;
    font-family: $ttbells-font;
    font-weight: 400;

    @media screen and (max-width: $tabletWidth) {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  &-text {
    @extend %pull-left-5;
    @extend %pull-right-1;

    @media screen and (max-width: $tabletWidth) {
      padding-left: calc(((100% / 8) * 3) + 20px) !important;
      padding-right: 20px !important;
    }
  }
}

.section-title {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  max-width: 1800px;
  display: flex;
  justify-content: flex-start;
  padding: 0 15px;
  margin: auto;
  font-family: $formular-font;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 22px;

  @media screen and (max-width: $desctopWidth) {
    top: 60px;
    max-width: 1350px;
    font-size: 12px;
    line-height: 15px;
  }

  @media screen and (max-width: $tabletWidth) {
    top: 40px;
    padding: 0 20px;
  }

  @media screen and (max-width: $mobileWidth) {
    justify-content: center;
  }

  &__text {
    position: relative;
    margin-left: calc(((100%/12) * 5) + 15px);

    @media screen and (max-width: $tabletWidth) {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.8px;
      margin-left: calc(((100%/8) * 3) + 20px);
    }

    @media screen and (max-width: $mobileWidth) {
      margin-left: 0;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.6px;
    }

    &:after {
      content: '';
      position: absolute;
      left: -120px;
      top: 0;
      bottom: 0;
      width: 100px;
      height: 1px;
      margin: auto;
      background-color: $primaryColor;

      @media screen and (max-width: $tabletWidth) {
        left: -85px;
        width: 65px;
      }

      @media screen and (max-width: $mobileWidth) {
        left: -40px;
        width: 30px;
      }
    }
  }

  &.white {
    color: $lightenColor;
  }
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@import 'shared';
@import 'main-header';
@import 'side-menu';
@import 'top-section';
@import 'about';
@import 'clients';
@import 'team';
@import 'values';
@import 'contacts';
