
.contacts {
  background-color: $lighten-color;

  .section-wrap {
    align-items: initial;

    .container {
      display: flex;
      flex-direction: column;
    }
  }

  &-address {
    position: relative;
    display: block;
    @extend %pull-left-2;
    @extend %pull-right-1;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 78px;
    font-family: $ttbells-font;
    color: $darken-color;

    span {
      display: block;
    }

    &__img {
      position: absolute;
      top: 100%;
      left: calc(((100%/12) * 2) + 45px);
      width: 275px;
      height: 370px;
      padding-top: 20px;

      @media screen and (max-width: $desctopWidth) {
        width: 220px;
        height: 300px;
      }

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    @media screen and (max-width: $desctopWidth) {
      margin-bottom: 70px;
      font-size: 44px;
      line-height: 57px;
    }
  }

  &-item {
    margin-bottom: 40px;
    @extend %pull-left-5;
    @extend %pull-right-1;

    @media screen and (max-width: $desctopWidth) {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 1px;
      font-family: $formular-font;

      @media screen and (max-width: $desctopWidth) {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
      }
    }

    &__text {
      display: block;
      font-size: 60px;
      line-height: 78px;
      color: $darken-color;

      @media screen and (max-width: $desctopWidth) {
        font-size: 44px;
        line-height: 57px;
      }
    }
  }

  &__copy {
    @extend %pull-left-5;
    @extend %pull-right-1;
    font-size: 18px;
    line-height: 22px;
    margin-top: auto;
    margin-bottom: 0;

    @media screen and (max-width: $desctopWidth) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &-madeby {
    position: absolute;
    width: 165px;
    right: -150px;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: bottom left;

    @media screen and (max-width: $desctopWidth) {
      //bottom: 65px;
    }

    &__text {
      font-size: 18px;
      line-height: 22px;
      color: $darken-color;

      @media screen and (max-width: $desctopWidth) {
        font-size: 12px;
        line-height: 15px;
      }

      a {
        position: relative;
        color: $darken-color;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.6;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          width: 100%;
          background-color: $primaryColor;
        }
      }
    }
  }
}
