%menu-item {
  position: relative;
  margin-right: 40px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $darkenColor;
  transition: opacity 0.3s ease, color 0.3s ease;
  opacity: 0.6;

  &.white {
    color: #fff !important;
  }

  &:first-child {
    margin-left: 0;
  }

  @media screen and (max-width: $desctopWidth) {
    margin-right: 30px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  &.active:hover {
    cursor: default;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
    cursor: default;

    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1.5px;
    background-color: $primaryColor;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

%language-item {
  @extend %menu-item;
}

@for $i from 1 through 12 {
  %pull-left-#{$i} {
    padding-left: calc(((100%/12) * #{$i}) + 15px);

    @media screen and (max-width: $mobileWidth) {
      padding-left: 5px;
    }
  }

  %pull-right-#{$i} {
    padding-right: calc(((100%/12) * #{$i}) + 15px);

    @media screen and (max-width: $mobileWidth) {
      padding-right: 5px;
    }
  }
}
