
.values {
  position: relative;
  overflow: hidden;
  background-color: $darkGrayColor;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  .section-content-title {
    margin-bottom: 50px;
    font-size: 144px;
    line-height: 136px;
    font-weight: 300;
    color: $darkenColor;

    @media screen and (max-width: $desctopWidth) {
      margin-bottom: 30px;
      font-size: 134px;
      line-height: 126px;
    }

    @media screen and (max-width: $mobileWidth) {
      margin: 0;
      font-size: 54px;
      line-height: 51px;
      font-weight: 300;
    }
  }

  .section-content-text {
    color: $lightenColor;
  }

  &-item {
    position: relative;
    padding: 200px 0;

    @media screen and (max-width: $desctopWidth) {
      padding: 150px 0;
    }

    @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
      display: flex;
      padding: 110px 0;
    }

    @media screen and (max-width: $mobileWidth) {
      padding: 150px 0 0;

      &:last-child {
        padding-bottom: 50px;
      }
    }

    &:nth-child(1) {
      .values-item__img {
        right: calc(((100% / 12) * 7) + 15px);
        justify-content: flex-end;

        @media screen and (max-width: $mobileWidth) {
          right: calc(((100%/4) * 1) + 5px);
        }

        > img {
          max-height: 590px;

          @media screen and (max-width: $desctopWidth) {
            max-height: 445px
          }

          @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
            right: 20px;
          }

          @media screen and (max-width: $mobileWidth) {
            max-height: 225px;
          }
        }
      }

      .values-item__content {
        left: calc(((100% / 12) * 7) + 15px);
        right: calc(((100% / 12) * 1) + 15px);

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          padding-top: 150px;
        }
      }

      .values-item__number {
        top: 50%;
        right: 0;
        transform: translate(60%, -50%);

        @media screen and (max-width: $desctopWidth) {
          //width: 256px;
        }

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          width: 290px;
          top: 0;
        }

        @media screen and (max-width: $mobileWidth) {
          top: 10%;
          transform: translate(50%, -50%);
        }
      }
    }

    &:nth-child(2) {
      .values-item__img {
        left: calc(((100% / 12) * 8) + 15px);

        @media screen and (max-width: $mobileWidth) {
          left: calc(((100%/4) * 1) + 5px);
        }

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          padding-top: 150px;
          order: 2;
        }

        > img {
          max-height: 663px;

          @media screen and (max-width: $desctopWidth) {
            max-height: 445px
          }

          @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
            left: 20px;
          }
        }
      }

      .values-item__content {
        left: calc(((100% / 12) * 2) + 15px);
        right: calc(((100% / 12) * 6) + 15px);
      }

      .values-item__number {
        top: 0;
        left: 0;
        transform: translate(-35%, -60%);

        @media screen and (max-width: $desctopWidth) {
          //width: 222px;
        }

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          width: 290px;
          transform: translate(15%, 25%);
        }

        @media screen and (max-width: $mobileWidth) {
          transform: translate(-52%, -35%);
        }

      }
    }

    &:nth-child(3) {
      .values-item__img {
        right: calc(((100% / 12) * 6) + 15px);
        justify-content: flex-end;

        @media screen and (max-width: $mobileWidth) {
          right: calc(((100%/4) * 1) + 5px);
        }

        > img {
          max-height: 740px;

          @media screen and (max-width: $desctopWidth) {
            max-height: 443px
          }

          @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
            right: 20px;
          }
        }
      }

      .values-item__content {
        left: calc(((100% / 12) * 7) + 15px);
        right: calc(((100% / 12) * 1) + 15px);
      }

      .values-item__number {
        right: 0;
        bottom: 0;
        transform: translate(25%, 40%);

        @media screen and (max-width: $desctopWidth) {
          //width: 222px;
        }

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          width: 290px;
          transform: translate(0, 40%);
        }

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          //transform: translate(25%, 40%);
        }

        @media screen and (max-width: $mobileWidth) {
          bottom: 100%;
          transform: translate(39%, 68%);
        }
      }
    }

    &__img {
      position: relative;
      display: flex;

      @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
        display: block;
        width: 100%;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      @media screen and (max-width: $mobileWidth) {
        display: block;
      }

      > img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 590px;

        @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
          width: 150%;
          max-height: 1000px;
          position: absolute;
          max-width: 150%;
        }
      }
    }

    &__content {
      position: absolute;
      top: 200px;

      @media screen and (max-width: $desctopWidth) {
        top: 150px;
      }

      @media screen and (min-width: 768px) and (max-width: $tabletWidth) {
        position: relative;
        width: 100%;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      @media screen and (max-width: $mobileWidth) {
        position: static;
        margin-top: 23px;
      }
    }

    &__title {
      margin-bottom: 50px;

      @media screen and (max-width: $desctopWidth) {
        margin-bottom: 40px;
      }

      @media screen and (max-width: $mobileWidth) {
        margin-bottom: 23px;
      }
    }

    &__number {
      position: absolute;

      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 360px;


        @media screen and (max-width: $mobileWidth) {
          max-height: 170px;
        }
      }
    }
  }
}